

html, body {
    height: 100%;
    margin: 0; 
}

body{
    background:linear-gradient(rgb(5, 223, 243), yellow);
    display: -webkit-box;
    display: -ms-flexbox;
    display: box;
    display: flex;
    /* -webkit-box-orient: vertical;
    -o-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column; */
    -webkit-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#nav{
    top: 10px;
    right: 2px;
    position: absolute; 
}

#header{
    position: absolute; 
    top: 10px;
}
.container1, .container2, .container3, .container4, .container5, .container6 {
    width: 350px;
    height: 200px; 
    position: relative; 
    perspective: 800px; 
    border-radius: 4px;
    margin: 20px; 
}

.card, .card1, .card2, .card3, .card4 ,.card5, .card6 {
    width: 100%; 
    height: 205px; 
    position: relative; 
    transform-style: preserve-3d; 
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 6px; 
    box-shadow: 0 6px 16px rgba(0,0,0,0.15);
    cursor: pointer; 

}

.card div, .card1 div, .card2 div, .card3 div, .card4 div,.card5 div, .card6 div{
    position: absolute;
    width: 100%; 
    height: 100%; 
    backface-visibility: hidden; 
    border-radius: 6px; 
    background: #fff; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font:  10px/1.1 "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #47525D;

}

.card .back, .card1 .back, .card2 .back, .card3 .back, .card4 .back,.card5 .back, .card6 .back{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.card.flipped, .card1.flipped, .card2.flipped, .card3.flipped, .card4.flipped,.card5.flipped, .card6.flipped {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
